body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    margin: 0;
    padding: 0;
}

.background img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
}

.logo-section img {
    max-width: 40px;
    max-height: 50%;
    border-radius: 100px;
}

.logo-section {
    background-color: rgba(199, 193, 193, 0.842);
    padding: 15px;
    margin-top: 0%;
    width: 106.5%;
    display: flex;
    align-items: center;
    gap: 2%;
}
.nav {
    margin-left: 8%;
}
.nav-link {
    color: black;
    font-size: 1.1rem;
}

.active {
    font-weight: 900;
}

.showcase {
    margin-top: 9%;
    background-color: rgba(248, 248, 255, 0.884);
    margin-left: 5%;
    padding: 20px;
    margin-bottom: 22%;
}

.informative-text{
    font-size: 1.2rem;
    color: rgb(5, 53, 48);
}

.view {
    margin-top: 8%;
    margin-left: 42%;
}

.footer {
    width: 110%;
    color: white;
    font-size: 1.1rem;
    margin-bottom: 0%;
    min-height: 40px;
 }

.quiz {
    background: linear-gradient(to right, rgb(131, 131, 228), rgb(132, 231, 226), rgb(26, 236, 166));
    background-repeat: no-repeat;

}

.formOne {
    padding: 10px;
    margin-left: 14%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.liberal, .conservative, .moderate {
    display: none;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 30%;
}

.liberal img, .conservative img, .moderate img {
    width: 60%;
}

.note {
    width: 60%;
}



